<root>
 <plane name="default">
  <btn function="RED" name="LED_FIRE"/>
  <btn function="GREEN" name="LED_FIRE_A"/>
  <btn function="ORANGE" name="LED_FIRE_B"/>
  <btn function="OFF" name="LED_FIRE_D"/>
  <btn function="OFF" name="LED_FIRE_E"/>
  <btn function="OFF" name="LED_TOGGLE_1_2"/>
  <btn function="OFF" name="LED_TOGGLE_3_4"/>
  <btn function="OFF" name="LED_TOGGLE_5_6"/>
  <btn function="OFF" name="LED_POV_2"/>
  <btn function="OFF" name="LED_CLUTCH"/>
  <btn function="OFF" name="LED_THROTTLE"/>
  <mfd function="OFF" name="0"/>
  <mfd function="OFF" name="1"/>
  <mfd function="OFF" name="2"/>
 </plane>
</root>
