<root>
 <leds name="leds" isReadOnly="false">
	<plane name="default">
	  <btn function="PARKING_BRAKE" name="LED_FIRE"/>
	  <btn function="STALL_WARNING" name="LED_FIRE_A"/>
	  <btn function="AP_COURSE_COMBO" name="LED_FIRE_B"/>
	  <btn function="NAV_LIGHTS" name="LED_FIRE_D"/>
	  <btn function="AP_MASTER" name="LED_FIRE_E"/>
	  <btn function="FLAPS" name="LED_TOGGLE_1_2"/>
	  <btn function="TAXI_LIGHTS" name="LED_TOGGLE_3_4"/>
	  <btn function="LANDING_LIGHTS" name="LED_TOGGLE_5_6"/>
	  <btn function="MARKERS" name="LED_POV_2"/>
	  <btn function="BEACON_LIGHTS" name="LED_CLUTCH"/>
	  <btn function="RPM_ENGINE_1" name="LED_THROTTLE"/>
	  <mfd function="SPD" name="0"/>
	  <mfd function="ALT" name="1"/>
	  <mfd function="V/S" name="2"/>
	</plane>
	<plane name="Airbus A320">
	  <btn name="LED_FIRE" function="PARKING_BRAKE"/>
	  <btn name="LED_FIRE_A" function="STALL_WARNING"/>
	  <btn name="LED_FIRE_B" function="AP_COURSE_COMBO"/>
	  <btn name="LED_FIRE_D" function="REV_THRUST"/>
	  <btn name="LED_FIRE_E" function="AP_MASTER"/>
	  <btn name="LED_TOGGLE_1_2" function="FLAPS"/>
	  <btn name="LED_TOGGLE_3_4" function="GEAR"/>
	  <btn name="LED_TOGGLE_5_6" function="LANDING_LIGHTS"/>
	  <btn name="LED_POV_2" function="MARKERS"/>
	  <btn name="LED_CLUTCH" function="TAXI_LIGHTS"/>
	  <btn name="LED_THROTTLE" function="RPM_ENGINE_1"/>
	  <mfd name="0" function="SPD"/>
	  <mfd name="1" function="ALT"/>
	  <mfd name="2" function="V/S"/>
	</plane>
 </leds>
</root>
