<root>
 <plane name="default">
  <btn function="OFF" name="LED_FIRE"/>
  <btn function="OFF" name="LED_FIRE_A"/>
  <btn function="OFF" name="LED_FIRE_B"/>
  <btn function="OFF" name="LED_FIRE_D"/>
  <btn function="OFF" name="LED_FIRE_E"/>
  <btn function="OFF" name="LED_TOGGLE_1_2"/>
  <btn function="OFF" name="LED_TOGGLE_3_4"/>
  <btn function="OFF" name="LED_TOGGLE_5_6"/>
  <btn function="OFF" name="LED_POV_2"/>
  <btn function="OFF" name="LED_CLUTCH"/>
  <btn function="OFF" name="LED_THROTTLE"/>
  <mfd function="OFF" name="0"/>
  <mfd function="OFF" name="1"/>
  <mfd function="OFF" name="2"/>
 </plane>
 <plane name="Airbus A320">
  <btn function="PARKING_BRAKE" name="LED_FIRE"/>
  <btn function="RED" name="LED_FIRE_A"/>
  <btn function="AP_COURSE_COMBO" name="LED_FIRE_B"/>
  <btn function="REV_THRUST" name="LED_FIRE_D"/>
  <btn function="AP_MASTER" name="LED_FIRE_E"/>
  <btn function="FLAPS" name="LED_TOGGLE_1_2"/>
  <btn function="GEAR" name="LED_TOGGLE_3_4"/>
  <btn function="LANDING_LIGHTS" name="LED_TOGGLE_5_6"/>
  <btn function="MARKERS" name="LED_POV_2"/>
  <btn function="BEACON_LIGHTS" name="LED_CLUTCH"/>
  <btn function="RPM_ENGINE_1" name="LED_THROTTLE"/>
  <mfd function="SPD" name="0"/>
  <mfd function="ALT" name="1"/>
  <mfd function="V/S" name="2"/>
 </plane>
 <plane name="Cessna 152">
  <btn function="PARKING_BRAKE" name="LED_FIRE"/>
  <btn function="STALL_WARNING" name="LED_FIRE_A"/>
  <btn function="OVERSPEED_WARNING" name="LED_FIRE_B"/>
  <btn function="BEACON_LIGHTS" name="LED_FIRE_D"/>
  <btn function="AP_MASTER" name="LED_FIRE_E"/>
  <btn function="FLAPS" name="LED_TOGGLE_1_2"/>
  <btn function="TAXI_LIGHTS" name="LED_TOGGLE_3_4"/>
  <btn function="LANDING_LIGHTS" name="LED_TOGGLE_5_6"/>
  <btn function="MARKERS" name="LED_POV_2"/>
  <btn function="STROBE_LIGHTS" name="LED_CLUTCH"/>
  <btn function="RPM_ENGINE_1" name="LED_THROTTLE"/>
  <mfd function="AP_HDG" name="0"/>
  <mfd function="AP_ALT" name="1"/>
  <mfd function="AP_V/S" name="2"/>
 </plane>
 <plane name="Daher TBM 930">
  <btn function="OFF" name="LED_FIRE"/>
  <btn function="OFF" name="LED_FIRE_A"/>
  <btn function="OFF" name="LED_FIRE_B"/>
  <btn function="OFF" name="LED_FIRE_D"/>
  <btn function="OFF" name="LED_FIRE_E"/>
  <btn function="OFF" name="LED_TOGGLE_1_2"/>
  <btn function="OFF" name="LED_TOGGLE_3_4"/>
  <btn function="OFF" name="LED_TOGGLE_5_6"/>
  <btn function="OFF" name="LED_POV_2"/>
  <btn function="OFF" name="LED_CLUTCH"/>
  <btn function="OFF" name="LED_THROTTLE"/>
  <mfd function="OFF" name="0"/>
  <mfd function="OFF" name="1"/>
  <mfd function="OFF" name="2"/>
 </plane>
 <plane name="ICON A5">
  <btn function="OFF" name="LED_FIRE"/>
  <btn function="OFF" name="LED_FIRE_A"/>
  <btn function="OFF" name="LED_FIRE_B"/>
  <btn function="OFF" name="LED_FIRE_D"/>
  <btn function="OFF" name="LED_FIRE_E"/>
  <btn function="OFF" name="LED_TOGGLE_1_2"/>
  <btn function="OFF" name="LED_TOGGLE_3_4"/>
  <btn function="OFF" name="LED_TOGGLE_5_6"/>
  <btn function="OFF" name="LED_POV_2"/>
  <btn function="OFF" name="LED_CLUTCH"/>
  <btn function="OFF" name="LED_THROTTLE"/>
  <mfd function="OFF" name="0"/>
  <mfd function="OFF" name="1"/>
  <mfd function="OFF" name="2"/>
 </plane>
</root>
